p{
color:maroon;
font-family: Arial;
}

em {
font-family: "Cascadia Mono"; /* 注意双引号这个细节，想想原因 */
}

h1, h2 {
font-family: Arial;
color: grey;
}

h1{
border-bottom: 1px solid black;
}

h2{
font-size: 10vw;
}

body{
	color: royalblue;
	color: rgb(251, 220, 110);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}

body{
	background-color: #FBDC6E;
}

a{text-decoration: none;
}